.box-table{
    background-color: white;
     margin-right: 7rem;
     margin-top: 1rem;
     border-radius: 5px;
}
tr{
    font-size: 10px;
}
.table{
    border-radius: 5px;
}
button{
    // padding: ;
}