<input type="checkbox" id="my-modal-5" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <!-- <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
    <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p> -->


<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <!--carrd-->
    <div class="card bg-base-100 shadow-xl image-full">

      



        <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
        <div class="card-body">


    <div class="space-y-8">
      <div>
        <!-- <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow"> -->
        <h2 class="mt-6 text-center text-3xl font-extrabold text-white-900">Add new employee account</h2>
        <p class="mt-2 text-center text-sm text-gray-600">
            <!-- "name": "newname",
            "surname": "newsurname",
            "contacts": "0781134567",
            "email": "testingmail@gmail.com",
            "password": "12345",
            "usertype": "Admin" -->
          <!-- <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> start your 14-day free trial </a> -->
        </p>
      </div>
      <form class="mt-8 space-y-6" [formGroup]="registerForm">
        <div class="row">
            <div class="col-sm-6" >
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                      <!-- <label for="email-address" class="sr-only">Email address</label> -->
                      <input  formControlName="name2" type="text"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Emplyoyee Name">
                    </div>
                    
                    <div>
                        <br>
                      <!-- <label for="password" class="sr-only">Password</label> -->
                      <input  formControlName="surname" type="text" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Employee Surname">
                    </div>
                    <div>
                        <!-- <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label> -->
                        <br>
                        <input  formControlName="contacts" type="text"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Enter employee contatcs">
                    </div>
                    <div>
                      <!-- <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label> -->
                      <br>
                      <input  formControlName="department" type="text"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Department">
                  </div>
                    <!-- <div>
                        <br>
                    <div class="form-control w-full max-w-xs">
                   
                        
                        <select class="select select-bordered" formControlName="department">
                          <option disabled selected>Choose department</option>
                          <option value="Full stack">Full stack</option>
                          <option value="Sales force">Sales force</option>
                          <option value="Pwd">Pwd</option>
            
                        </select>
            
                      </div>
                    </div> -->

                  </div>
            
            </div>
            <div class="col-sm-6">
                <div>
                    <!-- <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label> -->
                    
                    <input  formControlName="employeeId" type="text"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Id employee">
                </div>
                <div>
                    <!-- <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label> -->
                    <br>
                    <input  formControlName="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="employee email">
                </div>
        
                <div>
                  <!-- <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label> -->
                  <br>
                  <input  formControlName="password" type="password"  required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
                </div>
                <div>
                    <!-- <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label> -->
                    <br>
                    <input  formControlName="confirm password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Confirm Password">
                </div>
            
            </div>
        </div>
      

        <input type="hidden" name="remember" value="true">
      
       
      
       
      
  
      
  
        <div>
          <button (click)="set_registerForm()" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
           Add New User
          </button>
        </div>
      </form>
    </div>

    <div class="card-actions justify-end">
    </div>
</div>
</div> 
  </div>




  

  
  
    <div class="modal-action">
      <label for="my-modal-5" class="btn">close!</label>
    </div>
  </div>
</div>





















<!-- The button to open modal -->


<!-- Put this part before </body> tag -->

<div class="container box-table">

<div class="overflow-x-auto w-full" >
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th class="font-bold">Full Names</th>
          <th class="font-bold">contacts</th>
          <th class="font-bold">Department</th>
          <th></th>
        </tr>
      </thead>


      <tbody>
        <!-- row 1 -->
   
        <!-- row 2 -->
    
        <!-- row 3 -->
        <tr *ngFor="let item of usersList">
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <!-- <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="/tailwind-css-component-profile-4@56w.png" alt="Avatar Tailwind CSS Component" />
                </div>
              </div> -->
              <div>
                <div>{{item.surname + "    "+ item.name}}</div>
               
              </div>
            </div>
          </td>
          <td>
            {{item.contacts}}
            <br/>
            <span class="badge badge-ghost badge-sm">{{item.email}}</span>
          </td>
          <td>{{item.department}}</td>
          <th>
            <button [routerLink]="['/Profile']" routerLinkActive="router-link-active"  class="btn btn-ghost btn-xs">details</button>
          </th>
        </tr>
        <!-- row 4 -->
   
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <label for="my-modal-5" class="btn">Add users</label>
          </th>
        </tr>
      </tfoot>
      
    </table>
    
  </div>
</div>
