


<div class="navbar bg-base-100">
  <div class="flex-1">
    <a [routerLink]="['/admin']" routerLinkActive="router-link-active"  class="btn btn-ghost normal-case text-xl">Maboneng Holdings</a>
      
    <a routerLink="/admin" class="bg-pink-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Dashboard</a>
    <a href="/admin" class="bg-white-900 text-white px-3 py-2 rounded-md text-sm font-medium" >View Attendance</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li [routerLink]="['/admin']" routerLinkActive="router-link-active" ><a>View Attendance</a></li>
        <li [routerLink]="['/viewusers']" routerLinkActive="router-link-active" ><a>Manage employees</a></li>
        <li><a routerLink="/login">Logout</a></li>
      </ul>
    </div>
  </div>
</div>



<!-- <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Admin</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered" />
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              
            </a>
          </li>
          <li><a [routerLink]="['/addusers']" routerLinkActive="router-link-active" >Add Employees  <span class="badge">New</span> </a></li>
          <li><a [routerLink]="['/viewusers']" routerLinkActive="router-link-active" >View attendance</a></li>
          <li><a [routerLink]="['/viewusers']" routerLinkActive="router-link-active" >View employees</a></li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div> -->

