<app-nav></app-nav>

<div style="width:100vw; height:100vh;background-color: aqua;" >
<div class="container-fluid text-center admin" style="width:100vw; height:100vh" >
  
    <section >
    <div class="row ">

      <div class="col col-md-3" >
        <app-sidebar></app-sidebar>
        </div>
      <div class="col container">
        
          <!-- Stack the columns on mobile by making one full-width and the other half-width -->
     <div class="row indicators"  >

        <app-indicators></app-indicators>
    
      </div>

      <div class="row">
        <!-- <app-view-users></app-view-users> -->
        <app-list></app-list>
      </div>
    
      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <!-- <div class="row">
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      </div> -->
    
      <!-- Columns are always 50% wide, on mobile and desktop -->
      <!-- <div class="row">
        <div class="col-6">.col-6</div>
        <div class="col-6">.col-6</div>
      </div> -->
  
      </div>


    </div>
</section>
  </div>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
  






